<ion-header>
    <ion-toolbar>
        <ion-title>Entrar</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list class="body">
        <div>
            <ion-label class="titulo"> Bem-vindo(a)</ion-label><br>
            <ion-label class="titulo" style="font-weight: bold;"> WatterBuddy</ion-label>
            <ion-icon name="water-outline"></ion-icon>
        </div>

        <ion-item>
            <ion-label position="floating">Nome de usuário</ion-label>
            <ion-input [(ngModel)]="loginName"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Senha</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-button expand="block" (click)="login()" class="bcolor"><ion-text color="light">Entrar</ion-text></ion-button>
        <ion-button expand="block" (click)="register()" class="bcolor"><ion-text color="light">Registrar-se</ion-text></ion-button>
        <ion-button expand="block" (click)="sobre()" class="bcolor"><ion-text color="light">Sobre</ion-text></ion-button>
    </ion-list>

</ion-content>