<ion-tabs #tabs>
    <ion-tab-bar slot="bottom">

        <ion-tab-button tab="feed">
            <ion-icon name="list-outline"></ion-icon>
            <ion-label>postagens</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="uploader">
            <ion-icon name="cloud-upload-outline"></ion-icon>
            <ion-label>carregar post</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile">
            <ion-icon name="person-outline"></ion-icon>
            <ion-label>perfil</ion-label>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>