<ion-header>
    <ion-toolbar>
        <ion-title>Editar Perfil</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/profile" text="Voltar"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="centraliza">
        <ion-avatar class="profile-avatar">
            <input class="input-file" type="file" (change)="fileChanged($event)" #fileButton/>
            <img src="https://ucarecdn.com/{{ ($user | async)?.avatar }}/" />
        </ion-avatar>
    </div>
    <div class="centraliza">
        <ion-button id="btn-alterar-foto" (click)="uploadFile()">Alterar foto de perfil</ion-button>
    </div>

    <ion-item>
        <ion-label position="floating">Nome de usuário</ion-label>
        <ion-input style="margin-top: 10px; font-size: 15px;" [(ngModel)]="username" placeholder="{{($user | async)?.username}}"></ion-input>

    </ion-item>
    <hr style="margin-top: 0px;" class="hr">
    <ion-item>
        <ion-label position="floating">Biografia</ion-label>
        <ion-input style="margin-top: 10px; font-size: 15px;" [(ngModel)]="biografia" placeholder="{{($user | async)?.biografia}}"></ion-input>

    </ion-item>
    <hr style="margin-top: 0px;" class="hr">
    <ion-item>
        <ion-label position="floating">Peso</ion-label>
        <ion-input style="margin-top: 10px; font-size: 15px;" [(ngModel)]="peso" placeholder="{{($user | async)?.peso}}"></ion-input>

    </ion-item>

    <hr style="margin-top: 0px;" class="hr">

    <ion-button id="buttonsave" (click)="salvarPerfil()">
        <ion-row position="floating"><p>Salvar Alterações</p></ion-row>
    </ion-button>

</ion-content>



