#avatar {    
    width:100% !important;  
    height : 100% !important;  
    max-width: 40px !important;  //any size
    max-height: 40px !important; //any size
}

.user-desc {
    margin-left: 10px;
    margin-right: 10px;
}

#ellipsis {
    position: absolute;
    margin-left: 240px;
}


.username { 
    position: absolute;
    margin-top: 4px;
    font-weight: bolder;
    color: black;
}

.post-date {
    position: absolute;
    margin-top: 20px;
    font-weight: lighter;
    font-size: 0.7em;
}

#globe {
    position: absolute;
    margin-top: 20px;
    margin-left: 120px; 
    font-size: 0.7em;   
}

.reactions {
    margin-top: 5px;
    margin-bottom: 5px;    
    width:100% !important;  
    height : 100% !important;  
    max-width: 15px !important;  //any size
    max-height: 15px !important; //any size
}

.reactions-data {
    margin-top: 5px;
    margin-bottom: 5px;  
}

#first-reaction {    
    margin-left: 10px;
    background-color: #4267B2;
}

.hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color: gray;
    height: 1px;
}

.button-reaction-comment {
    width: auto;
}

.like-subtitle {
    padding-top: 5px;
    margin-left: 10px;
    color: grey;
}

.animate-skeleton-background {
    -webkit-animation: infinite bgcolorchange 1s;
    animation: 1s infinite bgcolorchange;
    opacity: 0.5;
   }
   @keyframes bgcolorchange {
    0% {
        background: #73F2BC;
        }
        10% {
            background: #73F2BC;
            }
            20% {
                background: #036E60;
                }
                30% {
                    background: #22F7CA;
                    }
                    40% {
                        background: #22F7CA;
                        }
                        50% {
                            background: #73F2BC;
                            }
                            60% {
                                background: #22F7CA;
                                }
                                70% {
                                    background: #73F2BC;
                                    }
                                    80% {
                                        background: #036E60;
                                        }
                                        90% {
                                            background: #22F7CA;
                                            }
                                            100% {
                                                background: #FFFFFF;
                                                }
    }
    
    @-webkit-keyframes bgcolorchange {
        0% {
            background: #73F2BC;
            }
            10% {
                background: #73F2BC;
                }
                20% {
                    background: #036E60;
                    }
                    30% {
                        background: #22F7CA;
                        }
                        40% {
                            background: #22F7CA;
                            }
                            50% {
                                background: #73F2BC;
                                }
                                60% {
                                    background: #22F7CA;
                                    }
                                    70% {
                                        background: #73F2BC;
                                        }
                                        80% {
                                            background: #036E60;
                                            }
                                            90% {
                                                background: #22F7CA;
                                                }
                                                100% {
                                                    background: #FFFFFF;
                                                    }
        }
