<ion-header>
    <ion-toolbar>
        <ion-title>Postagens</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="images">
        <div class="image" *ngFor="let user of ($users | async); let i = index">
            <ion-card *ngIf="user.posts !== undefined">
                <div *ngIf="user.posts.length !== 0">
                    <div *ngIf="skeleton == false">
                        <ion-grid>
                            <ion-row>
                                <ion-col (click)="visitarPerfil(user.uid)" size="2">
                                    <ion-avatar id="avatar">
                                        <img src="https://ucarecdn.com/{{ user.avatar }}/-/scale_crop/350x350/center/">
                                    </ion-avatar>
                                </ion-col>

                                <ion-col>
                                    <ion-icon id="ellipsis" name="ellipsis-horizontal-sharp"></ion-icon>
                                    <p class="username"> {{ user.username }} </p>
                                    <p *ngIf="user.posts[user.posts.length-1].date" class="post-date">
                                        {{user.posts[user.posts.length-1].date }} •</p>
                                    <ion-icon id="globe" name="planet-outline"></ion-icon>
                                </ion-col>

                            </ion-row>
                        </ion-grid>

                        <hr class="hr">
                        <div class="user-desc">
                            <p *ngIf="user.posts">{{ user.posts[user.posts.length-1].desc }}</p>
                        </div>                        
                        <ion-img *ngIf="user.posts"
                            src="https://ucarecdn.com/{{ user.posts[user.posts.length-1].imagem }}/-/resize/400x/">
                        </ion-img>
                        <ion-row>

                            <ion-col size="1">
                                <ion-avatar class="reactions">
                                    <img src="https://img.icons8.com/color/48/000000/star-pokemon.png" />
                                </ion-avatar>
                            </ion-col>

                            
                            <ion-col size="6">
                                <p *ngIf="user.like" class="reactions-data">{{user.like}} Estrelas</p>
                                <p *ngIf="!user.like" class="reactions-data">0 Estrelas</p>
                            </ion-col>

                            <ion-col size="4" (click)="showComments(i)">
                                <p class="reactions-data" *ngIf="user.comentarios">{{user.comentarios.length}}
                                    Comentários</p>
                                <p class="reactions-data" *ngIf="!user.comentarios">0 Comentários</p>
                            </ion-col>

                        </ion-row>
                        <hr class="hr">

                        <ion-row>
                            <ion-col size="6">
                                <input #like [value]="user.like" type="hidden" />
                                <ion-button class="button-reaction-comment" expand="block" fill="clear"
                                    (click)="giveLike(user.uid, like.value)">
                                    <img width="30px" height="30px"
                                        src="https://img.icons8.com/color/48/000000/star-pokemon.png" />
                                    <p class="like-subtitle">Swift</p>
                                </ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <input #avatar [value]="($user | async)?.avatar" type="hidden" />
                                <input #username [value]="($user | async)?.username" type="hidden" />
                                <ion-button class="button-reaction-comment" expand="block" fill="clear"
                                    (click)="comentar(user.uid, avatar.value, username.value)">
                                    <img src="https://img.icons8.com/office/20/ffffff/comments.png" />
                                    <p class="like-subtitle">Comentar</p>
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </div>
                    <div *ngIf="flagComments[i]">
                        <hr class="hr">
                        <div *ngIf="user.comentarios">
                            <div *ngIf="user.comentarios.length>0">
                                <div *ngFor="let comentario of user.comentarios">
                                    <ion-avatar style="margin-left: 10px;" id="avatar">
                                        <img
                                            src="https://ucarecdn.com/{{ comentario.avatar }}/-/scale_crop/350x350/center/">
                                    </ion-avatar>
                                    <p style="margin-left: 10px; font-weight: bold;">{{comentario.username}}:</p>
                                    <p style="margin-left: 20px;">{{comentario.desc}}</p>
                                    <hr class="hr">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="skeleton == true">
                        <div class="ion-padding custom-skeleton">
                            <ion-skeleton-text class="animate-skeleton-background" animated
                                style="width: 50px; height: 50px;"></ion-skeleton-text>
                            <ion-skeleton-text class="animate-skeleton-background" animated></ion-skeleton-text>
                            <ion-skeleton-text class="animate-skeleton-background" animated
                                style="width: 100%; height: 350px;"></ion-skeleton-text>
                            <ion-skeleton-text class="animate-skeleton-background" animated style="width: 100%;">
                            </ion-skeleton-text>
                        </div>
                    </div>

                </div>
            </ion-card>
        </div>
    </div>
</ion-content>