<!-- cabeçalho -->
<ion-header>
    <ion-toolbar>
        <ion-title style="font-weight: bold; font-size: 20px;">linda.silva</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button slot="icon-only" name="menu-outline"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<!-- informações -->
<ion-content id="profile" padding>
    <ion-row>
        <ion-col style="text-align: -webkit-center;">
            <ion-avatar class="profile-avatar">
                <img src="https://randomuser.me/api/portraits/women/20.jpg" />
            </ion-avatar>
        </ion-col>
        <ion-col class="ion-text-center">
            <h4 style=" margin-bottom: 2px;">30</h4>
            <p class="info-profile">Publicações</p>
        </ion-col>
        <ion-col class="ion-text-center">
            <h4 style=" margin-bottom: 2px;">100</h4>
            <p class="info-profile">Amigos</p>
        </ion-col>
    </ion-row>

    <!-- bibliografia -->
    <div id="bibliografia" class="ion-padding-start">
        <b>linda da silvah</b>
        <p class="ion-no-margin">eu sou linda e muito hidratadah, é sobre isso</p>
    </div>

    <hr class="hr">

    <!-- conquistas -->
    <b class="ion-margin-start" style="margin-bottom: 0px;">Conquistas</b>
    <div id="conquest">
        <img src="https://img.icons8.com/clouds/50/000000/water.png" />
        <img src="https://img.icons8.com/clouds/50/000000/drink-time.png" />
        <img src="https://img.icons8.com/clouds/50/000000/water-cooler.png" />
        <img src="https://img.icons8.com/clouds/50/000000/kawaii-soda.png" />
        <img src="https://img.icons8.com/bubbles/50/000000/water.png" />
    </div>

    <hr style="margin-top: 0px;" class="hr">

    <!-- publicações -->
    <div id="images">
        <div class="image" *ngFor="let post of ((userPosts | async)?.posts)">
            <ion-card>
                <ion-img src="https://ucarecdn.com/{{ post.imagem }}/-/crop/200x200/center/"></ion-img>
            </ion-card>
        </div>
    </div>
</ion-content>


<ion-menu contentId="profile" menuId="profile-menu" side="end">
    <ion-header>
        <ion-toolbar>
            <ion-title>profile</ion-title>
        </ion-toolbar>
    </ion-header>

    <!-- menu com itens -->
    <ion-content>
        <ion-list>
            <ion-item>
                <ion-icon name="podium-outline"></ion-icon>
                <ion-label class="ion-padding-start">Sua atividade</ion-label>
            </ion-item>
            <ion-item>
                <ion-icon name="settings-outline"></ion-icon>
                <ion-label class="ion-padding-start">Configurações</ion-label>
            </ion-item>
            <ion-item>
                <ion-icon name="log-out-outline"></ion-icon>
                <ion-label class="ion-padding-start">Sair</ion-label>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-menu>